/hw2/me433.X/dist/
/hw2/me433.X/build/
/hw2/me433_hw2.X/build/
/hw2/me433_hw2.X/dist/
/hw2/me433_hw2.X/.generated_files/
/hw2/me433_hw2.X/nbproject/
/hw3/me433_hw3.X/build/
/hw3/me433_hw3.X/dist/
/hw3/me433_hw3.X/.generated_files/
/hw3/me433_hw3.X/nbproject/